.article{
    width: 92%;
    margin-left: 4%;
    height:auto;
    text-align:justify;
}
.article .main-title{
    font-size: 24px;
    line-height: 35px;
}
.article .main-content{
    font-size: 16px;
    letter-spacing:1.2px;
    line-height: 25px;
    margin-top: 20px;
}