.article{
    width: 88%;
    margin-left: 6%;
    height:auto;
    text-align:justify;
}
.article .main-title{
    color: rgb(51,51,51);
    letter-spacing:0.544px;
    font-size: 22px;
    line-height: 30.8px;
    font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}

.article .second-title{
    font-size: 18px;
    letter-spacing:1px;
    text-align: justify;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 0px;
    color: rgb(51,51,51);
    font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}

.article .main-content{
    font-size: 18px;
    letter-spacing:1px;
    color: rgb(51,51,51);
    font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
    line-height: 28px;
    text-align: justify;
    margin-top: 20px;
}

.article .image-set{
    width: 100%;
    height:auto;
    margin-top:10px;
    margin-bottom: 10px;
}

.bottomNav{
    position:fixed;
    width: 100%;
    height: 45px;
    bottom:0px;
    background-color:white;
}
.bottomNav .imgSet{
    height: 100%;
}